<form action="/recipes/<%= @recipe.id %>" method="POST">
  <input id ="hidden" type="hidden" name="_method" value="PATCH">
  <input id="name" type="text" name="recipe[name]" value="<%= @recipe.name %>">
  <input id="ingredients"  type="text" name="recipe[ingredients]" value="<%= @recipe.ingredients %>">
  <input id="cook_time" type="text" name="recipe[cook_time]" value="<%= @recipe.cook_time %>">
  <input type="submit" value="Update">
</form>