
<h1><%= @recipe.name %></h1>

<h3> Ingredients: </h3> <%= @recipe.ingredients %>
<h3> Cook Time: </h3> <%= @recipe.cook_time %>

<form action="/recipes/<%= @recipe.id %>" method="POST">
<input id="hidden" type="hidden" name="_method" value="DELETE">
<input type="submit" value="Delete Recipe">
</form>

